*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    box-sizing: border-box;
}

.nav {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;      
    justify-content: space-between; 
    padding: 0 50px;
    background: #191a21;       
}

.nav ul {
    margin-right: 100px;
    display: flex;
    gap: 30px;
}

.nav li {
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav a:hover {
    color: #00bcd4;
}


